<div class="card">
  <div class="card-img-wrapper text-center">
    <img
      *ngIf="property.image"
      class="propImg"
      src="assets/images/{{ property.image }}.png"
    />
    <img
      *ngIf="!property.image"
      class="propImg"
      src="assets/images/defaultHouse.png"
    />
    <ul *ngIf="!hideIcons" class="list-inline icons animate">
      <li class="list-inline-item icon">
        <button
          class="btn btn-primary"
          routerLink="/property-details/{{ property.id }}"
        >
          V
        </button>
      </li>
      <li class="list-inline-item icon">
        <button class="btn btn-primary">E</button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1 class="mb-0">{{ property.bhk }} BHK {{ property.propertyType }}</h1>
    in {{ property.name }}
    <span *ngIf="property.name">,</span>
    {{ property.city }}

    <h6 class="mt-2">
      {{ property.furnishingType }}
      <span *ngIf="property.furnishingType !== 'Unfurnished'">Furnished</span> |
      <span *ngIf="property.readToMove"> | Ready To Move</span>
      <span *ngIf="!property.readToMove">
        | Possession: {{ property.estPossessionOn | date }}</span
      >
    </h6>

    <hr class="my-0 mb-2" />

    <h6 class="mb-0">
      Price: <span class="font-highlight">{{ property.price }} USD.</span> |
      Area: <span class="font-highlight">{{ property.builtArea }} Sq Ft </span>
    </h6>
  </div>
</div>
